.banner-1{
    background-image: url("./images/banner.png");
    height: 100vh;
    background-repeat: no-repeat;
    
}
.btn{
    background-color: #B68C5A;
    font-family: 'Poppins', sans-serif;
}
.title{
    font-weight: 700;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}
.icon{
    background-color: #B68C5A;
}
.carousel-1{
    background-image: url("./images/slider-1.jpg");
    height: 100vh;
    
}
.carousel-2{
    background-image: url("./images/slider-2.jpg");
    height: 100vh;
     
}
.carousel-3{
    background-image: url("./images/slider-3.jpg");
    height: 100vh;
    
}
.circle-png{
    width: 100px;
}
.address{
    width: 40px;
}